<div class="card">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <a href="{{ .Permalink }}">
        {{ $eyecatch_image := findRE "<img.*?src=([^>]*)?>" .Content 1 }}
        {{ if ge (len $eyecatch_image ) 1 }}
        {{ range $eyecatch_image }}
        {{ . | safeHTML }}
        {{ end }}
        {{ else }}
        <img src="{{ .Site.BaseURL }}/assets/images/top.png" style="width: 100%;">
        {{ end}}
      </a>
    </div>

    <div class="col-sm-12 col-lg-9">
      <div class="card-body">
        <h4>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        {{ with .Params.tags }}
        {{ range . }} <a href="/tags/{{ lower . }}/" class="badge badge-primary">{{ . }}</a>{{ end }}
        {{ end }}
        <div class="text-right">
          <p>{{ .Date.Format "Jan 02, 2006" }}</p>
        </div>
        <div class="text-muted list-content">
          {{ .Description }}
        </div>
      </div>
    </div>
  </div>
</div>