{{ partial "header.html" . }}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="col-12">
      <div class="card card-lg">
        <div class="card-body">
          <h1 class="mt-0 mb-4">{{ .Title }}</h1>
          {{ with .Params.tags }}
          {{ range . }} <a href="/tags/{{ lower . }}/" class="badge badge-outline text-blue">{{ . }}</a>{{ end }}
          {{ end }}
          <div class="float-end">
            <p class="text-muted">{{ .Date.Format "2006年1月2日" }}</p>
          </div>
          <div class="markdown mt-4">
            <p>{{ .Content }}</p>
          </div>
          <h4 class="mt-4">この記事をMastodonで共有</h4>
          <a class="btn text-white" href="https://mastoshare.net/post.php?text={{ .Title }}" style="background-color: #2b90d9;"
          onclick="window.open(this.href, '', 'width=500,height=400'); return false;"><i
            class="fab fa-mastodon fa-fw"></i>シェア</a>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
{{ partial "footer.html" . }}