{{ partial "header.html" . }}
<div class="flex-grow bg-gray-100 h-100">
  <div class="container mx-auto max-w-screen-xl flex px-2 md:px-5 py-6 md:py-12 flex-col prose">
    <div class="bg-white shadow-md p-4 md:p-8 ">
      <h1 class="mt-0 mb-4">{{ .Title }}</h1>
      {{ with .Params.tags }}
      {{ range . }} <a href="/tags/{{ lower . }}/" class="badge badge-outline text-blue">{{ . }}</a>{{ end }}
      {{ end }}
      <p>{{ .Date.Format "2006年1月2日" }}</p>
      <div class="mt-4">
        <p>{{ .Content }}</p>
      </div>
    </div>

  </div>
</div>
{{ partial "footer.html" . }}
