{{ partial "header.html" . }}
<div class="flex-grow bg-gray-100 h-100">
  <div class="container mx-auto max-w-screen-xl flex px-2 md:px-5 py-6 md:py-12 flex-col prose">
    <div class="bg-white shadow-md p-4 md:p-8 ">
      <h1 class="mt-0 mb-4">{{ .Title }}</h1>
      {{ with .Params.tags }}
      {{ range . }} <a href="/tags/{{ lower . }}/" class="badge badge-outline text-blue">{{ . }}</a>{{ end }}
      {{ end }}
      <p>{{ .Date.Format "2006年1月2日" }}</p>
      <div class="mt-4">
        <p>{{ .Content }}</p>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <div class="mastoshare mr-2" data-button-text="Mastodonでシェア" data-text="{{ .Title }}"
            data-url="{{ .Permalink }}">
          </div>
          <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
            data-hatena-bookmark-layout="vertical-normal" data-hatena-bookmark-lang="ja"
            title="このエントリーをはてなブックマークに追加"><img
              src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加"
              width="20" height="20" style="border: none;" /></a>
          <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
            async="async"></script>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
