{{ partial "header.html" . }}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">タグ一覧</h3>
                </div>
                <div class="card-body">
                    {{ range $key, $value := .Data.Terms }}
                    <a href="{{ $key | urlize }}" class="badge badge-primary">{{ $key }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{ partial "footer.html" . }}