<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="ja" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <title>Hostdon blog</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://preview.tabler.io/assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: 'https://preview.tabler.io/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="https://preview.tabler.io/assets/css/dashboard.css" rel="stylesheet" />
    <script src="https://preview.tabler.io/assets/js/dashboard.js"></script>
</head>
<body class="" style="height: 100%;">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.BaseURL }}assets/images/hostdon.svg" class="header-brand-img" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="{{ .Site.BaseURL }}" class="nav-link"><i class="fe fe-home"></i> ホーム</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://manage.hostdon.jp" class="nav-link"><i class="fe fe-settings"></i> コントロールパネル</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://hostdon.jp" class="nav-link"><i class="fe fe-file-text"></i> 公式サイト</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
