<section class="text-gray-600 body-font bg-gray-100">
  <nav aria-label="Page navigation example" class="my-12 flex items-center justify-center">
    <ul class="flex items-center -space-x-px h-8 md:h-10 text-sm md:text-base">

      {{- with .Paginator }}
      {{- $currentPageNumber := .PageNumber }}

      {{- with .First }}
      {{- if ne $currentPageNumber .PageNumber }}
      <li>
        <a href="{{ .URL }}"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
          </svg>

        </a>
      </li>
      {{- else }}
      <li>
        <a href="#"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
          </svg>

        </a>
      </li>
      {{- end }}
      {{- end }}

      {{- with .Prev }}
      <li>
        <a href="{{ .URL }}"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m14 8-4 4 4 4" />
          </svg>


        </a>
      </li>
      {{- else }}
      <li>
        <a href="#"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m14 8-4 4 4 4" />
          </svg>

        </a>
      </li>
      {{- end }}

      {{- $slots := 5 }}
      {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
      {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
      {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
      {{- end }}

      {{- range $k := seq $start $end }}
      {{- if eq $.Paginator.PageNumber $k }}
      <li>
        <a href="#" aria-label="Page {{ $k }}"
          class="z-10 flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{
          $k }}</a>
      </li>
      {{- else }}
      <li>
        <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" aria-label="Page {{ $k }}"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{
          $k }}</a>
      </li>
      {{- end }}
      {{- end }}

      {{- with .Next }}

      <li>
        <a href="{{ .URL }}"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Next</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 16 4-4-4-4" />
          </svg>
        </a>
      </li>

      {{- else }}
      <li>
        <a href="#"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Next</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m10 16 4-4-4-4" />
          </svg>
        </a>
      </li>
      {{- end }}

      {{- with .Last }}
      {{- if ne $currentPageNumber .PageNumber }}
      <li>
        <a href="{{ .URL }}"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m7 16 4-4-4-4m6 8 4-4-4-4" />
          </svg>

        </a>
      </li>
      {{- else }}
      <li>
        <a href="#"
          class="flex items-center justify-center px-2 h-8 md:px-4 md:h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m7 16 4-4-4-4m6 8 4-4-4-4" />
          </svg>

        </a>
      </li>
      {{- end }}
      {{- end }}
      {{- end }}

    </ul>
  </nav>
</section>
